@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Credentials)]

<div class="d-flex align-items-center justify-content-between mt-3">
    <h1>Credentials</h1>
    <QuerySearch AutoFocus OnChange=Search />
</div>

<div class="table-responsive">
    <table class="table table-hover mb-0">
        <thead>
            <tr>
                <Orderable Column=@CredentialCol.IsValid Display=Valid Params=_params OnChange=RefreshItemsAsync />
                <Orderable Column=@CredentialCol.Host Display=Host Params=_params OnChange=RefreshItemsAsync />
                <Orderable Column=@CredentialCol.Username Display=Username Params=_params OnChange=RefreshItemsAsync />
                <Orderable Column=@CredentialCol.Type Display=Type Params=_params OnChange=RefreshItemsAsync />
                <Orderable Column=@CredentialCol.Disabled Display=Disabled Params=_params OnChange=RefreshItemsAsync />
                <th class="text-end">
                    <a class="btn btn-sm btn-primary" href=@C.Routes.CredentialFor(Guid.Empty)>Add</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _items)
            {
                <tr @key=item.CredentialId>
                    <td>
                        @if (item.IsValid)
                        {
                            <i class="bi bi-send-check text-success"></i>
                        }
                        else
                        {
                            <i class="bi bi-send-exclamation text-danger"></i>
                        }
                    </td>
                    <td class="user-select-all">@item.Host:@item.Port</td>
                    <td class="user-select-all">@item.Username</td>
                    <td class="user-select-all">@item.Type</td>
                    <td class="user-select-all">
                        @if (item.Disabled.HasValue)
                        {
                            <span>@item.Disabled.Value.Display()</span>
                        }
                        else
                        {
                            <span>No</span>
                        }
                    </td>
                    <td class="text-end">
                        <a class="btn btn-sm btn-secondary" href=@C.Routes.CredentialFor(item.AliasId)>Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>