@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Credential)]
@using Models

@if (_create != null)
{
    <div class="row justify-content-center">
    <div class="col-lg-4 col-sm-6 mt-2">
        <form class="card" @onsubmit=SaveCreateClicked>
            <div class="card-header">Add credential</div>
            <div class="card-body">
                <TextBox For=@nameof(CredentialCreateModel.Host) Label=Host @bind-Value=_create.Host Errors=_errors
                    Required AutoFocus />
                <IntegerBox For=@nameof(CredentialCreateModel.Port) Label=Port @bind-Value=_create.Port Errors=_errors
                    Required />
                <TextBox For=@nameof(CredentialCreateModel.Username) Label=Username @bind-Value=_create.Username
                    Required Errors=_errors />
                <TextBox For=@nameof(CredentialCreateModel.Password) Label=Password @bind-Value=_create.Password
                    Required Errors=_errors Type=password AutoComplete=new-password />
                <Switch For=@nameof(CredentialCreateModel.Disabled) Label=Disabled @bind-Value=_create.Disabled
                    Errors=_errors NoMargin />
            </div>
            <div class="card-footer text-end">
                <button type="submit" class="btn btn-success">Add</button>
                <button type="button" class="btn btn-outline-danger ms-2" @onclick=CancelClicked>Cancel</button>
            </div>
        </form>
    </div>
</div>
}
else if (_edit != null && _item != null)
{
    <form @onsubmit=SaveEditClicked class="row justify-content-center">
    <div class="col-lg-4 col-sm-6 mt-2">
        <div class="card">
            <div class="card-header"> Edit credential @_item.Username </div>
            <div class="card-body">
                <TextBox For=@nameof(CredentialEditModel.Host) Label=Host @bind-Value=_edit.Host Errors=_errors Required
                    AutoFocus />
                <IntegerBox For=@nameof(CredentialEditModel.Port) Label=Port @bind-Value=_edit.Port Errors=_errors
                    Required />
                <TextBox For=@nameof(CredentialEditModel.Username) Label=Username @bind-Value=_edit.Username Required
                    Errors=_errors />
                <TextBox For=@nameof(CredentialEditModel.NewPassword) Label="Change password"
                    @bind-Value=_edit.NewPassword Errors=_errors Type=password AutoComplete=new-password />
                <Switch For=@nameof(CredentialEditModel.Disabled) Label=Disabled @bind-Value=_edit.Disabled
                    Errors=_errors NoMargin />
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 mt-2">
        <div class="card">
            <div class="card-header">Nešto</div>

        </div>
    </div>
    <div class="col-12 mt-2 text-end">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-outline-danger ms-2" @onclick=CancelClicked>Cancel</button>
    </div>
</form>
}
else
{
    <text>Not found</text>
}